@import 'semantic-ui-css/semantic.css';
@font-face {
  font-family: Comfortaa;
  src: url("../public/Comfortaa-Light.ttf");
}
:root {
  --progressBar: #e26cff;
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: #1D101F;
}
html, body, .ui, #menu, h1, h2, h3, h4, h5, h6, .ui.message .header {
  font-family: Comfortaa, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}
footer {
  margin-bottom: 1em;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
#menu {  
  font-size: 1.2rem;
  background-color: #1D101F;
}
#menu, .ui.segment {
  border-radius: 0;
}
#menu .ui.segment, #home .ui.segment {
  padding: 200px 0;
}
.page {
  margin: 50px auto;
}
footer {
  padding: 100px 0 20px 0;
}
.ql-container.ql-snow {
  height: auto;
}
.ql-editor {
  word-wrap: break-word;
  height: 300px;
  overflow-y: scroll;
}
.ql-clipboard {
  position: fixed !important;
  opacity: 0 !important;
  left: 50% !important;
  top: 50% !important;
}
.button-load-next {
  margin: 2rem 0 !important;
}
@media screen and (max-width: 767px) {
  .ui.container {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
}
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner {
  margin: 50px auto;
  width: 50px;
  height: 50px;
  box-sizing: border-box;

  border: dotted 3px transparent;
  border-top-color: rgb(121, 7, 121);
  border-left-color: rgb(191, 20, 197);
  border-radius: 50%;

  -webkit-animation: spinner 1400ms linear infinite;
  animation: spinner 1400ms linear infinite;
}